{% include base_path %}

<nav class="page__footer-links">
  <div class="page__footer-links-block">
    <ul>
      <li>&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}</li>
      <li><a href="mailto:info@mocklab.io">info@mocklab.io</a></li>
    </ul>
  </div>

  <div class="page__footer-links-block">
    <h3>Help</h3>
    <ul>
      <li><a href="/docs/getting-started/">Docs</a></li>
      <li><a href="/docs/getting-started/">Blog</a></li>
      <li><a href="https://get.mocklab.io/pricing">Pricing</a></li>
    </ul>
  </div>

  <div class="page__footer-links-block">
    <h3>Solutions</h3>
    <ul>
      <li><a href="/oauth2/">OAuth2</a></li>
    </ul>
  </div>

  <div class="page__footer-links-block">
    <h3>Policies</h3>
    <ul>
      <li><a href="/docs/terms-and-conditions/">Terms and conditions</a></li>
      <li><a href="/docs/privacy-policy/">Privacy policy</a></li>
    </ul>
  </div>

  <div class="page__footer-links-block">
    <ul>

    </ul>
  </div>
</nav>


