{% include base_path %}

<nav class="header-nav sticky">
  <ul class="header-nav__container">
    <li class="header-nav__logo">
        <a href="https://get.mocklab.io">
            <img src="/images/mocklab_logo_with_text.png" title="MockLab logo" alt="MockLab logo"/>
        </a>
    </li>

    <li class="header-nav__item">
        <a href="/docs/getting-started/" title="Docs">Docs</a>
    </li>
    <li class="header-nav__item">
        <a href="/blog/" title="Docs">Blog</a>
    </li>
    <li class="header-nav__item">
        <a href="https://get.mocklab.io/pricing" title="Docs">Pricing</a>
    </li>
    <li class="header-nav__item header-nav__item--last">
        <a href="https://app.mocklab.io" title="Login" target="_blank">Login</a>
    </li>

    <li class="header-nav__cta">
        <a href="https://app.mocklab.io/login?for=signup" title="Sign up" target="_blank">Sign up</a>
    </li>
  </ul>

</nav>
