<div class="mid-article-cta">
  <p class="mid-article-cta__text">
    If you've made it this far there's a good chance you're building a system that
    relies on 3rd party APIs. MockLab can help you test your system when those
    APIs don't exist yet, have flakey test environments or are expensive to call.
  </p>

  <p class="mid-article-cta__text">
    It's quick and simple to get started with and it's powered by WireMock so it
    has the flexibility to grow with your project's testing demands.
  </p>

  <a class="mid-article-cta__learn-more" href="https://get.mocklab.io/?utm_source=www.mocklab.io&utm_medium=blog&utm_campaign={{ include.campaign }}-learn-more-cta" title="Learn more" target="{{site.data.misc.blank}}">Learn more</a>

  <a class="mid-article-cta__get-started" href="https://app.mocklab.io/login?for=signup&utm_source=www.mocklab.io&utm_medium=blog&utm_campaign={{ include.campaign }}-get-started-cta" title="Get started for free" target="{{site.data.misc.blank}}">Get started for free</a>
</div>
